.Hud {
	width: 100%;
	height: 100%;
}

#ContentBossTimer{
	flow-children:right;
	vertical-align: center;
	width: 100%;
	padding-left: 70px;
	height: 100%;
}
#ContentBossTimer > Label{
	font-size: 25px;
	color: white;
	vertical-align: center;
	letter-spacing: 1px;
	text-shadow: 2px 2px 0px 1.0 #00000090;

}
.TeamBackground{
	width: 100%;
	height: 100%;
	opacity-mask:url("s2r://panorama/images/masks/topbar_heroslant_left_psd.vtex");
	transform: scaleX(-1);
}
.TopBarBackground{
	width: 100%;
	height: 100%;
	background-image: url('file://{resources}/images/custom_game/donate/top_bar_team_bg_psd.png');
	background-size: cover;
	background-repeat: no-repeat;
}
#ImgRoshan{
	width: 40px;
	height: 40px;
	/*background-image: url('file://{resources}/images/custom_game/donate/roshan.png');*/
	background-size: 100%;
	margin-right: 35px;
}
.__Root,
#BossTimerContainer{
	align:left top;
	width: 425px;
	/*margin-left: 370px;*/
	/*transform: scaleX(-1);*/ 
	/*background-color: gradient( linear, 0% 0%, 100% 0%, from( black ), color-stop( 0.3, black ),color-stop( 0.8, #000000aa ), to( #00000000 ) );*/
	height: 40px;
}

#DonatePanel {
	horizontal-align: center;
	vertical-align: center;
	/*background-color: rgb( 40, 40, 40 );*/
	background-image: url("s2r://panorama/images/backgrounds/gallery_background.png");
	flow-children: down;
	background-size: 100% 100%;
	/*border-radius: 30px;*/
	/*margin-bottom: 150px;*/
    /*visibility: collapse;*/
    box-shadow:#000000aa 0px 0px 8px 2px;
    border-radius: 30px;
}

#QuitButton{
	width: 33px;
	height: 33px;
	background-image: url('s2r://panorama/images/control_icons/x_close_png.vtex');
	horizontal-align:right;
	vertical-align: center;
	background-size: 100% 100%;
	wash-color: #bd5e2d;
	margin-right: 10px;
	transition-property: background-color, wash-color;
	transition-delay: 0.0s;
	transition-duration: 0.2s;
	transition-timing-function: ease-out;

}

#QuitButton:hover
{
	wash-color: #bd5e2daa;
}

#DonateContainer.Visible{
	transform:none;
	pre-transform-scale2d:1;
	opacity: 1;
}
#DonateItemsList {
	width: 800px;
	height: 520px;
	flow-children: down;
	padding: 25px;
	overflow: clip scroll;

}

.ListName {
	color: gradient( linear, 0% 0%, 0% 100%, from( white  ), to( #5A3D6F) );  
	font-size: 34px;
	font-family: Radiance;
	text-shadow: 2px 2px 0px 1.0 #00000090;
	horizontal-align:center;
}

.DonateItemsList {
	border-top-width: 2px;
	border-top-color: rgb( 166, 166, 166 );
	border-top-style: solid;
	width: 100%;
	flow-children: right-wrap;
	padding-top: 10px;
}

.DonateItemsList > DOTAItemImage{
	margin: 5px;
}
.Row {
	flow-children: right;
	horizontal-align:center;
}
.DonateItemsList > DOTAItemImage,
.DonateItemButton {
	margin: 8px;
	opacity: 0.6;
	transition-property: opacity,brightness,saturation;
	transition-duration: 0.25s;
	box-shadow:#000000aa 0px 0px 8px 2px;
	/*border-radius: 50%;*/
}
.DonateItemsList > DOTAItemImage:hover,
.DonateItemButton:hover {
	opacity: 1;
}
.DonateItemsList > DOTAItemImage:disabled,
.DonateItemButtonHidden {
	margin: 8px;
	opacity: 0.25;
	brightness:0.1;
	saturation:0;
}

.DonateInfoPanel {
	background-color: rgb( 12, 12, 12 );
	width: 100%;
	height: 45px;
	flow-children: right;
	padding: 5px;
	border-top-width: 2px;
	border-top-color: rgb( 4, 4, 4 );
	border-top-style: solid;
}

.DonateInfo {
	/*margin-right: 20px;*/
	horizontal-align: right;
	width: 150px;
	height: 150px;
	background-image: url('file://{resources}/images/custom_game/donate/toggle_button.png');
	background-size: 100%;
	transition-property: pre-transform-scale2d;
	transition-duration: .25s;
	pre-transform-scale2d:0.8;
	vertical-align: bottom;
	horizontal-align:right;
}
#DonateContainer{
	align:center center;
	width: 940px;
	height: 800px;
	transition-property: pre-transform-scale2d,transform,opacity;
	transition-duration: .25s;
	pre-transform-scale2d:0.4;
	transform: translateX(-700px) translateY(-320px);
    opacity:0;
}
#DonateButton{
	width: 200px; 
	height: 200px;
	transition-property: pre-transform-scale2d;
	transition-duration: .25s;
	pre-transform-scale2d:0.8;
}
.DonateInfo:hover,
#DonateButton:hover{
	pre-transform-scale2d:1;
}
/* url("s2r://panorama/images/hud/reborn/bg_timer_psd.vtex") */

#DonateContainerButton{
	horizontal-align: right;
	vertical-align: top;
	background-image: url("s2r://panorama/images/hud/reborn/bg_timer_psd.vtex");
	background-size: 100% 100%;
	margin-right: 200px;
	width: 280px;
	height: 60px;
}
#MusicToggleContainer,
#DonateToggleButton {
	width: 60px;
	height: 60px;
	background-image: url("s2r://panorama/images/hud/reborn/shop_launcher_button_psd.vtex");
	brightness: 1.0;
	z-index: -1;
	/*box-shadow: #000000aa 0px 0px 2px 2px;*/
	transition-property: background-image,brightness,transform;
	transition-duration: .25s;
	background-size: 100% 100%;
	transition-timing-function: ease-in-out;
	vertical-align: top;
	/*transform: translateX(-150px);*/
	horizontal-align: left;
/*	margin-left: 1120px;
	margin-bottom: 30px;*/
	margin-top: 140px;
	text-align: center;
	margin-bottom: 5px;
}

#MusicToggleContainer{
	margin-top: 200px;
}

#BtnMusicToggle,
#Arrow{
	width: 100%;
	height: 100%;
	background-image: url('file://{resources}/images/custom_game/donate/patreon_logo.png');
	background-size: 80% 80%;
	background-repeat: no-repeat; 
	background-position: 50% 50%;
	/*transform: scaleX(-1);*/
	transition-duration: 0.25s;
	transition-property: opacity;
	horizontal-align: left;
	vertical-align: center;
}

#MusicToggleContainer.off #BtnMusicToggle{
	background-image: url('file://{resources}/images/custom_game/music_off.png');
}

#BtnMusicToggle{
	background-image: url('file://{resources}/images/custom_game/music_on.png');
	transition-duration: .3s;
	transition-property: background-image;
}
#MusicToggleContainer:Hover,
#DonateToggleButton:Hover {
	brightness:1.6;
	transform: none;
	/*background-image: url("s2r://panorama/images/hud/reborn/shop_launcher_button_hover_psd.vtex");*/
}
/*#DonateToggleButton:Hover #Arrow{
	opacity: 0;
}*/

#DonateToggleButton:Hover #DonateToggleButtonText{
	margin-left: 0px;
}
#DonateToggleButtonText {
	color: #ffcc33;
	font-size: 22px;
	font-weight: bold;
	letter-spacing: 1px;
	text-align: center;
	horizontal-align: center;
	margin-top: 2px;
	min-width: 60px;
	vertical-align: center;
	text-transform: uppercase;
	margin-right: 7px;
}

#Difficult{
	font-size: 12px;
	margin-left: 5px;
}

#Difficult_img{
	width: 50px;
	height: 50px;
	margin-left: 20px;
	align:center center;
}


